@import "../scss/nullstyle.scss";

@font-face {
    font-family: "Inter";
    src: url("Inter-Bold.woff") format("woff");
    src: url("Inter-Bold.woff2") format("woff2");
    src: url("Inter-Medium.woff") format("woff");
    src: url("Inter-Medium.woff2") format("woff2");
}

body {
    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.2;
}
.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}
.header {
    max-height: 100vh;
    min-height: 1080px;
    position: relative;
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0;
    }
    &__content {
        padding-bottom: 50px;
        &-images {
            text-align: center;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                z-index: -2;
            }
            &:has(.content-item--active.color--blue)::before {
                background: linear-gradient(180deg, #cadbeb 0%, rgba(235, 235, 235, 0) 100%);
            }
            &:has(.content-item--active.color--green)::before {
                background: linear-gradient(180deg, #ddead9 0%, rgba(235, 235, 235, 0) 100%);
            }
            &:has(.content-item--active.color--black)::before {
                background: linear-gradient(180deg, #b6b6b6 0%, rgba(235, 235, 235, 0) 100%);
            }
            &:has(.content-item--active.color--red)::before {
                background: linear-gradient(180deg, #f3d6d1 0%, rgba(235, 235, 235, 0) 100%);
            }
            &:has(.content-item--active.color--white)::before {
                background: linear-gradient(180deg, #fafafa 0%, rgba(235, 235, 235, 0) 100%);
            }
        }
    }
}
.content-item {
    display: none;
    &--active {
        display: inline-block;
    }
}
.menu {
    &__list {
        display: flex;
        align-items: center;
        gap: 0 40px;
        font-weight: 700;
    }
    &__btn {
        padding: 15px 58px;
        border-radius: 30px;
        background-color: #000;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
    }
}
.title {
    font-size: 210px;
    font-weight: 700;
    position: absolute;
    padding-top: 110px;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    &--air {
        transform: translateY(25px);
    }
    &--pod {
        position: relative;
        z-index: -1;
        transform: translateY(25px);
    }
    &--s {
        display: inline-block;
        transform: translateY(78px);
    }
    &--m {
        display: inline-block;
        transform: translate(-32px, 291px);
        z-index: 4;
    }
    &--ax {
        display: inline-block;
        transform: translate(-100px, 440px);
        z-index: -1;
        position: relative;
    }
}
.choose-color {
    padding: 45px 0 180px;
    text-align: center;
    &__title {
        font-size: 36px;
        font-weight: 700;
        max-width: 555px;
        margin: 0 auto 20px;
    }
    &__text {
        font-size: 16px;
        max-width: 555px;
        margin: 0 auto 80px;
        line-height: 19.2px;
    }
    &__list {
        display: flex;
        gap: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__btn {
        border-radius: 20px;
        border: 1px solid #777;
        padding: 50px 55px;
        &--active {
            display: none;
        }
    }
}
.main__title {
    margin: auto;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.composition {
    margin-bottom: 180px;
    &__text {
        margin: auto;
        text-align: center;
        max-width: 655px;
        font-weight: 500;
        margin-bottom: 40px;
    }
    &__flex {
        display: flex;
        justify-content: center;
        gap: 0 150px;
        font-weight: 500;
    }
    &__flex-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 230px;
        gap: 15px;
    }
}
.case {
    background-color: #fafafa;
    padding-top: 80px;
    padding-bottom: 80px;
    &__text {
        text-align: center;
        font-weight: 500;
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 40px;
    }
    &__image {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
}
.alive {
    background-color: #fafafa;
    padding-top: 80px;
    padding-bottom: 100px;
    &__subtitle {
        font-size: 13.125rem;
        margin-top: 40px;
        margin-bottom: 40px;
        font-weight: 700;
        text-align: center;
    }
    &__text {
        font-weight: 500;
        text-align: center;
        max-width: 390px;
        margin: 0 auto;
    }
}
.audio {
    position: relative;
    background-image: url("/images/audioBG.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    z-index: -2;
    &::after {
        content: "";
        z-index: -1;
        position: absolute;
        background-image: url("/images/audio_sound.png");
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;
        bottom: -20vh;
        width: 100%;
        left: 0;
        right: 0;
        height: 140vh;
    }
    &__inner {
        height: 1445px;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-end;
        align-items: center;
    }
    &__box {
        text-align: center;
        padding-bottom: 40vh;
    }
    &__text {
        color: #fff;
        text-align: center;
        font-weight: 500;
        line-height: 130%;
        width: 300px;
        margin-bottom: 15px;
    }
    &__btn {
        margin-top: 10px;
        padding: 15px 58px;
        border-radius: 30px;
        background: #fff;
        font-weight: 700;
        text-transform: uppercase;
    }
}
.footer {
    position: relative;
    z-index: -10;
    padding-top: 20vh;
    background-color: #000;
    color: #fff;
    &__contact {
        gap: 20px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 50px;
    }
    &__text {
        text-align: center;
        font-weight: 700;
        line-height: 130%;
    }
    &__list {
        padding-top: 80px;
        padding-bottom: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    &__link {
        margin: 0 auto;
        width: -moz-fit-content;
        width: fit-content;
    }
}

@media (max-width: 1469px) {
    .header__content-images img {
        max-width: 100%;
        z-index: 0;
        position: relative;
    }
    .title {
        font-size: 180px;
        transform: translate(131px, 15px);
        z-index: 100;
    }
    .audio__inner {
        min-height: 180vh;
    }
}
.title-large {
    display: none;
}
@media (max-width: 1349px) {
    .title {
        display: none;
    }
    .header__content {
        justify-content: center;
        display: flex;
    }
    .title-large {
        margin: 0 auto;
        max-width: 1000px;
        text-align: center;
        display: inline-block;
        font-size: 140px;
        font-weight: 700;
        position: absolute;
        padding-top: 180px;
        z-index: 10;
        width: calc(100% - 30px);
    }
}
@media (max-width: 900px) {
    .header {
        min-height: 800px;
    }
}
@media (max-width: 768px) {
    .main__title {
        font-size: 3rem;
    }
    html {
        font-size: 14px;
    }
    .choose-color {
        padding-bottom: 60px;
        &__list {
            gap: 16px;
        }
    }
    .composition {
        margin-bottom: 60px;
        &__flex {
            gap: 80px;
        }
    }
    .case {
        padding: 60px 0;
    }
    .alive {
        padding-top: 0;
        padding-bottom: 40px;
        &__subtitle {
            margin: 0px auto;
            font-size: 11rem;
        }
    }
    .title-large {
        font-size: 80px;
    }
}
@media (max-width: 700px) {
    .title-large {
        padding-top: 120px;
    }
}
@media (max-width: 600px) {
    .header {
        min-height: 0px;
    }
}

.burgerMenu {
    display: none;
}

@media (max-width: 560px) {
    .choose-color {
        margin-bottom: 40px;
        &__text {
            margin-bottom: 40px;
        }
    }
    .composition__flex {
        flex-wrap: wrap;
        &-left {
            width: 300px;
            text-align: center;
        }
    }
    .case {
        padding: 40px 0;
    }
    .alive__subtitle {
        font-size: 10rem;
    }
    .header__top {
        padding: 10px 0px;
    }
    .menu__list {
        padding-top: 50px;
        background-color: rgb(139, 138, 140);
        border: #000 solid 1px;
        border-radius: 0px 0px 0px 25px;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 150;
        gap: 20px;
        width: 184px;
        height: 176px;
        top: -228px;
        transition: transform 0.5s;
    }
    .menu__link {
        padding: 10px 30px;
    }
    .burgerMenu {
        z-index: 200;
        position: relative;
        display: block;
        width: 25px;
        height: 30px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        & span {
            position: inherit;
            width: 25px;
            height: 2.5px;
            background-color: #000;
            transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
        }
    }
    .header.burger-open .burgerMenu span:nth-child(2) {
        opacity: 0;
    }
    .header.burger-open .burgerMenu span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .header.burger-open .burgerMenu span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .header.burger-open .menu__list {
        transform: translateY(100%);
    }
}

@media (max-width: 425px) {
    .case__image {
        img {
            max-width: 100%;
        }
    }
    .title-large {
        font-size: 60px;
        padding-top: 90px;
    }
}
