@import "../scss/nullstyle.scss";

@font-face {
    font-family: "Inter";
    src: url("Inter-Bold.woff") format("woff");
    src: url("Inter-Bold.woff2") format("woff2");
    src: url("Inter-Medium.woff") format("woff");
    src: url("Inter-Medium.woff2") format("woff2");
}

body {
    color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.2;
}
.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}
.header {
    max-height: 100vh;
    min-height: 1080px;
    position: relative;
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0;
    }
    &__content {
        padding-bottom: 50px;
        &-images {
            text-align: center;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                z-index: -2;
                background: linear-gradient(180deg, #cadbeb 0%, rgba(235, 235, 235, 0) 100%);
            }
        }
    }
}
.menu {
    &__list {
        display: flex;
        align-items: center;
        gap: 0 40px;
        font-weight: 700;
    }
    &__btn {
        padding: 15px 58px;
        border-radius: 30px;
        background-color: #000;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
    }
}
.title {
    font-size: 210px;
    font-weight: 700;
    position: absolute;
    padding-top: 110px;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    &--air {
        transform: translateY(25px);
    }
    &--pod {
        position: relative;
        z-index: -1;
        transform: translateY(25px);
    }
    &--s {
        display: inline-block;
        transform: translateY(78px);
    }
    &--m {
        display: inline-block;
        transform: translate(-30px, 303px);
    }
    &--ax {
        display: inline-block;
        transform: translate(-100px, 440px);
        z-index: -1;
        position: relative;
    }
}

.choose-color {
    padding: 45px 0 180px;
    text-align: center;
    &__title {
        font-size: 36px;
        font-weight: 700;
        max-width: 555px;
        margin: 0 auto 20px;
    }
    &__text {
        font-size: 16px;
        max-width: 555px;
        margin: 0 auto 80px;
        line-height: 19.2px;
    }
    &__list {
        display: flex;
        gap: 40px;
        justify-content: center;
    }
    &__btn {
        border-radius: 20px;
        border: 1px solid #777;
        padding: 50px 55px;
    }
}
.main__title {
    margin: auto;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.composition {
    margin-bottom: 180px;
    &__text {
        margin: auto;
        text-align: center;
        max-width: 655px;
        font-weight: 500;
        margin-bottom: 40px;
    }
    &__flex {
        display: flex;
        justify-content: center;
        gap: 0 150px;
        font-weight: 500;
    }
    &__flex-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 230px;
        gap: 15px;
    }
}
.case {
    background-color: #fafafa;
    padding-top: 80px;
    padding-bottom: 80px;
    &__text {
        text-align: center;
        font-weight: 500;
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 40px;
    }
    &__image {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
}
.alive {
    background-color: #fafafa;
    padding-top: 80px;
    padding-bottom: 100px;
    &__subtitle {
        font-size: 13.125rem;
        margin-top: 40px;
        margin-bottom: 40px;
        font-weight: 700;
        text-align: center;
    }
    &__text {
        font-weight: 500;
        text-align: center;
        width: 390px;
        margin: 0 auto;
    }
}
