<section class="audio">
    <div class="container">
        <div class="audio__box">
            <div class="audio__inner">
                <p class="audio__text">Custom Spatial Audio with dynamic head tracking provides a surround sound
                    experience worthy of a
                    movie theater.</p>
                <p class="audio__text">Through built-in gyroscopes and accelerometers, AirPods Max and your iPhone,
                    iPad,
                    Mac or Apple TV
                    detect the slightest
                    head movements and keep the sound steady on your device.</p>
                <p class="audio__text">And with Apple Music, custom Spatial Audio with dynamic head tracking creates a
                    unique
                    three-dimensional listening
                    experience.</p>
                <button class="audio__btn">
                    buy
                </button>
            </div>
        </div>
    </div>
</section>