<section class="case">
    <div class="container">
        <h2 class="main__title case__title">
            It even preserves the battery.
        </h2>
        <p class="case__text">
            When stored in the sleek and lightweight <strong>Smart Case</strong> , AirPods Max enter a low-power state
            to save energy.
        </p>
        <div class="case__image">
            <img class="content-item color--blue content-item--active" src="images/airpods-case blue.jpg"></img>
            <img class="content-item color--black" src="images/airpods-case black.jpg"></img>
            <img class="content-item color--green" src="images/airpods-case green.jpg"></img>
            <img class="content-item color--red" src="images/airpods-case red.jpg"></img>
            <img class="content-item color--white" src="images/airpods-case white.jpg"></img>
        </div>
    </div>
</section>