<section class="case">
    <div class="container">
        <h2 class="main__title case__title">
            It even preserves the battery.
        </h2>
        <p class="case__text">
            When stored in the sleek and lightweight <strong>Smart Case</strong> , AirPods Max enter a low-power state
            to save energy.
        </p>
        <div class="case__image">
            <picture>
                <source type="image/avif" srcset="images/airpods-case-blue.avif">
                <source type="image/webp" srcset="images/airpods-case-blue.webp">
                <img alt="airpods-case blue" class="content-item color--blue content-item--active"
                    src="images/airpods-case-blue.jpg"></img>
            </picture>
            <picture>
                <source type="image/avif" srcset="images/airpods-case-black.avif">
                <source type="image/webp" srcset="images/airpods-case-black.webp">
                <img alt="airpods-case black" class="content-item color--black"
                    src="images/airpods-case-black.jpg"></img>
            </picture>
            <picture>
                <source type="image/avif" srcset="images/airpods-case-green.avif">
                <source type="image/webp" srcset="images/airpods-case-green.webp">
                <img alt="airpods-case silver" class="content-item color--green"
                    src="images/airpods-case-green.jpg"></img>
            </picture>
            <picture>
                <source type="image/avif" srcset="images/airpods-case-red.avif">
                <source type="image/webp" srcset="images/airpods-case-red.webp">
                <img alt="airpods-case red" class="content-item color--red" src="images/airpods-case-red.jpg"></img>
            </picture>
            <picture>
                <source type="image/avif" srcset="images/airpods-case-white.avif">
                <source type="image/webp" srcset="images/airpods-case-white.webp">
                <img alt="airpods-case white" class="content-item color--white"
                    src="images/airpods-case-white.jpg"></img>
            </picture>
        </div>
    </div>
</section>