<section class="choose-color">
    <div class="container">
        <h3 class="choose-color__title">
            Choose your colour
        </h3>
        <p class="choose-color__text">
            The perfect balance between the purityof hi‑fi and the magic of AirPods.
            The ultimate personal audio experience.
        </p>
        <div class="choose-color__list">
            <button class="choose-color__btn" data-button="color--green" type="button"><img src="images/btn-green.png"
                    alt="">
            </button>
            <button class="choose-color__btn" data-button="color--white" type="button"><img src="images/btn-white.png"
                    alt="">
            </button>
            <button class="choose-color__btn" data-button="color--red" type="button"><img src="images/btn-red.png"
                    alt="">
            </button>
            <button class="choose-color__btn" data-button="color--black" type="button"><img src="images/btn-black.png"
                    alt="">
            </button>
            <button class="choose-color__btn choose-color__btn--active" data-button="color--blue" type="button"><img
                    src="images/btn-blue.png" alt="">
            </button>
        </div>
    </div>
</section>