<section class="choose-color">
    <div class="container">
        <h3 class="choose-color__title">
            Choose your colour
        </h3>
        <p class="choose-color__text">
            The perfect balance between the purityof hi‑fi and the magic of AirPods.
            The ultimate personal audio experience.
        </p>
        <div class="choose-color__list">
            <button aria-label="choose-color silver button" class="choose-color__btn" data-button="color--green"
                type="button">
                <picture>
                    <source type="image/avif" srcset="images/btn-green.avif">
                    <source type="image/webp" srcset="images/btn-green.webp">
                    <img src="images/btn-green.png" alt="silver">
                </picture>
            </button>
            <button aria-label="choose-color white button" class="choose-color__btn" data-button="color--white"
                type="button">
                <picture>
                    <source type="image/avif" srcset="images/btn-white.avif">
                    <source type="image/webp" srcset="images/btn-white.webp">
                    <img src="images/btn-white.png" alt="white">
                </picture>
            </button>
            <button aria-label="choose-color red button" class="choose-color__btn" data-button="color--red"
                type="button">
                <picture>
                    <source type="image/avif" srcset="images/btn-red.avif">
                    <source type="image/webp" srcset="images/btn-red.webp">
                    <img src="images/btn-red.png" alt="red">
                </picture>
            </button>
            <button aria-label="choose-color black button" class="choose-color__btn" data-button="color--black"
                type="button">
                <picture>
                    <source type="image/avif" srcset="images/btn-black.avif">
                    <source type="image/webp" srcset="images/btn-black.webp">
                    <img src="images/btn-black.png" alt="black">
                </picture>
            </button>
            <button aria-label="choose-color blue button" class="choose-color__btn choose-color__btn--active"
                data-button="color--blue" type="button">
                <picture>
                    <source type="image/avif" srcset="images/btn-blue.avif">
                    <source type="image/webp" srcset="images/btn-blue.webp">
                    <img src="images/-bbtnlue.png" alt="blue">
                </picture>
            </button>
        </div>
    </div>
</section>