<section class="composition">
    <div class="container">
        <h2 class="main__title">
            An extremely original composition.
        </h2>
        <p class="composition__text">
            Introducing the reinvention of over-the-ear headphones. From the cushion to the headband, the AirPods Max
            are designed
            with acoustic insulation in mind, adapted to many head shapes, so you can immerse yourself in the purity of
            sound.
        </p>
        <div class="composition__flex">
            <div class="composition__flex-left">
                <p>The headband is made of breathable mesh, distributing the weight to reduce pressure on the head.</p>
                <p>The stainless steel structure is wrapped in a soft-touch material to provide a remarkable harmony
                    between resistance,
                    flexibility and comfort.</p>
                <p>The telescoping arms expand and stay in any position you want, allowing you to maintain fit and
                    isolation.</p>
            </div>
            <div class="composition__flex-right">
                <img src="images/airpods-side blue.jpg" alt="">
                <!-- <img src="images/airpods-side black.jpg" alt="">
                <img src="images/airpods-side red.jpg" alt="">
                <img src="images/airpods-side green.jpg" alt="">
                <img src="images/airpods-side white.jpg" alt=""> -->
            </div>
        </div>
    </div>
</section>