<footer class="footer">
    <div class="container">
        <div class="footer__contact">
            <p class="footer__text">
                <a href="#" class="footer__link">Find a retailer near you</a>
            </p>
            <p class="footer__text">
                Or call <a href="tel:800 207 758">800 207 758</a>
            </p>
            <a class="footer__link" href="#"><img src="images/logo_white.svg" alt=""></a>
        </div>
        <nav>
            <ul class="footer__list">
                <li class="footer__item">
                    <p class="footer__text">Copyright © 2023 Apple Inc.</p>
                </li>
                <li class="footer__item">
                    <p class="footer__text">All rights reserved.</p>
                </li>
                <li class="footer__item"><a class="footer__link" href="#">Legal Notices</a></li>
                <li class="footer__item"><a class="footer__link" href="#">Site Map</a></li>
                <li class="footer__item"><a class="footer__link" href="#">Privacy Policy</a></li>
            </ul>
        </nav>
    </div>
</footer>
</div>