<header class="header">
    <div class="container">
        <div class="header__top">
            <a href="#" class="logo">
                <img src="images/logo.svg" alt="">
            </a>
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a href="#" class="menu__link">Info</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Product</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Contact</a>
                    </li>
                    <li class="menu__item">
                        <button class="menu__btn">BUY</button>
                </ul>
            </nav>
            <button class="burgerMenu">
                <span></span><span></span><span></span>
            </button>
        </div>
        <div class="header__content">
            <h1 class="title">
                <span class="title--air">Air</span>
                <span class="title--pod">Pod</span>
                <span class="title--s">S</span>
                <span class="title--m">M</span>
                <span class="title--ax">AX</span>
            </h1>
            <h1 class="title-large">AirPodS MAX</h1>
            <div class="header__content-images">
                <img class="content-item color--blue content-item--active" src="images/airpods blue.png" alt="">
                <img class="content-item color--black" src="images/airpods black.png" alt="">
                <img class="content-item color--green" src="images/airpods green.png" alt="">
                <img class="content-item color--red" src="images/airpods red.png" alt="">
                <img class="content-item color--white" src="images/airpods white.png" alt="">
            </div>
        </div>
    </div>
</header>